<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
				<string>PDF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Adobe PDF document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PDF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).KMMainDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ai</string>
				<string>AI</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DocumentType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.illustrator.ai-image</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).KMMainDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Images</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.postscript</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).KMMainDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>net.sourceforge.skim-app.pdfd</string>
				<string>com.adobe.postscript</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>org.tug.tex.dvi</string>
				<string>org.tug.tex.xdv</string>
				<string>net.sourceforge.skim-app.skimnotes</string>
				<string>public.plain-text</string>
				<string>public.rtf</string>
				<string>com.apple.rtfd</string>
				<string>com.adobe.fdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Encapsulated PostScript</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.encapsulated-postscript</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).KMMainDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>net.sourceforge.skim-app.pdfd</string>
				<string>com.adobe.postscript</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>org.tug.tex.dvi</string>
				<string>org.tug.tex.xdv</string>
				<string>net.sourceforge.skim-app.skimnotes</string>
				<string>public.plain-text</string>
				<string>public.rtf</string>
				<string>com.apple.rtfd</string>
				<string>com.adobe.fdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>DVI</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tug.tex.dvi</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).KMMainDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>net.sourceforge.skim-app.pdfd</string>
				<string>com.adobe.postscript</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>org.tug.tex.dvi</string>
				<string>org.tug.tex.xdv</string>
				<string>net.sourceforge.skim-app.skimnotes</string>
				<string>public.plain-text</string>
				<string>public.rtf</string>
				<string>com.apple.rtfd</string>
				<string>com.adobe.fdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>XDV</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.tug.tex.xdv</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).KMMainDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>net.sourceforge.skim-app.pdfd</string>
				<string>com.adobe.postscript</string>
				<string>com.adobe.encapsulated-postscript</string>
				<string>org.tug.tex.dvi</string>
				<string>org.tug.tex.xdv</string>
				<string>net.sourceforge.skim-app.skimnotes</string>
				<string>public.plain-text</string>
				<string>public.rtf</string>
				<string>com.apple.rtfd</string>
				<string>com.adobe.fdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PDF Reader Pro Edition Notes</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.skim-app.skimnotes</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).KMMainDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>net.sourceforge.skim-app.skimnotes</string>
				<string>public.plain-text</string>
				<string>public.rtf</string>
				<string>com.apple.rtfd</string>
				<string>com.adobe.fdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Notes as Text</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.rtf</string>
			</array>
			<key>NSDocumentClass</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Notes as RTF</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.rtf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Notes as RTFD</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.rtfd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Notes as FDF</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.fdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
				<string>cur</string>
				<string>bmp</string>
				<string>jpeg</string>
				<string>gif</string>
				<string>png</string>
				<string>tiff</string>
				<string>tif</string>
				<string>ico</string>
				<string>icns</string>
				<string>tga</string>
				<string>psd</string>
				<string>eps</string>
				<string>hdr</string>
				<string>jp2</string>
				<string>jpc</string>
				<string>pict</string>
				<string>sgi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Images</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>NSDocumentClass</key>
			<string>KMImageDocument</string>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.brother.pdfreaderprofree.mac</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-jxjlqfm1cfp2mjj</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.pdftechnologies.pdfreader.mac</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>subscriptionSchemes</string>
			</array>
		</dict>
	</array>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>AIzaSyCalcVW-WrKHxsm4O-AU6MjV31fI9CLaLY</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
